<div class="card">
  <p-table
    [value]="users"
    [tableStyle]="{ 'min-width': '70rem', 'overflow-x': 'auto' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Persons
        <p-button icon="pi pi-plus" (onClick)="createUser()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Job</th>
        <th>CreatedAt</th>
        <th style="width: 100px">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.job }}</td>
        <td>{{ user.createdAt }}</td>
        <td>
          <div class="flex align-items-center">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-primary mr-2"
              (click)="editUser(user.id)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
